#Folders
dados/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# dotenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
__pycache__

# Conda environments
*.conda
*.ipynb_checkpoints